<app-pagina-buscar-elemento></app-pagina-buscar-elemento>
<div class ="container-centro1 container-centro">
<div class="container-centro">
    <h1>Digite o Id do elemento a ser alterado:</h1>
    <form (ngSubmit)="procurarElemento()">
        <input
            class="formulario"
            type ="text"
            [(ngModel)]="Id"
            name="Id"
            placeholder="Digite o Id"
        />
        <input class="botao" type ="submit" value = "Procurar">
    </form>
    @if (elementoEncontrado)  {
        <h1>Insira as alterações do elemento:</h1>
        <form (ngSubmit)="salvarAlteracoes()">
            <input
            class="formulario"
            type ="text"
            [(ngModel)]="tipo"
            name="tipo"
            placeholder="Digite o tipo"
            />
            <input
            class="formulario"
            type ="text"
            [(ngModel)]="nome"
            name="nome"
            placeholder="Digite o nome"
            />
            <input
            class="formulario"
            type ="text"
            [(ngModel)]="autor"
            name="autor"
            placeholder="Digite o autor/diretor"
            />
            <input
            class="formulario"
            type ="text"
            [(ngModel)]="ano"
            name="ano"
            placeholder="Digite o ano"
            />
            <input class="botao" type = "submit" value = "Enviar">
        </form>
    }
    <button class="botao" (click)="voltar()"> Voltar ao menu</button>
</div>
</div>
